.form{
    margin: 0 auto;
    width: 40%;
   

    /* border: solid green; */
}
.form > input{
    padding: 18px 20px;
    border: solid 3px  hwb(300 18% 16% / 0.185);
    border-radius: 5px;
    width: 70%;
    font-size: 18px;
    color: rgb(10, 108, 141);
}
.form >button{
    border: none;
    outline: none;
    background-color:rgba(122, 7, 113, 0.966);
    padding: 12px 20px;
    border-radius: 5px;
    color: #eee7ec8e;
    font-size: 18px;
}